/* Styles */
body{
  display: flex;
  flex-wrap: wrap;
  margin-left 65px;
  background-image: url(../img/thomas-jensen-596085-unsplash.jpg);
  background-repeat:no-repeat;
  background-size:cover;

}

#pageTitle {
  text-align: center;
  margin-left: 215px;
  font-size: 70px;
  color: #ffffff;
}

.bioBox {
  display: inline-flex;
  column-count: 3;
  margin-left: 65px;
  
}


#aboutMe {
  background-color: teal;
  font-size: x-large;
  color: #fff;
  float: left;
  width: 250px;
  /* margin-left: 65px; */
  word-wrap: break-word;
}



#personalPhoto {
  max-height: 350px;
  max-width: 500px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin-left: 200px;
  margin-right: auto;


  /* =====================
      Media Queries
   =====================*/
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
  }

  /* Smaall Screens to 768px ----------- */
  @media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    /* Styles */
  }

  /* Desktop to 1024 ----------- */
  /* @media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {

    /* Styles */
    body {
      /*justify-content: center;
        align-items: center;*/
      height: 400px;
      width: 100%;
    }
  } */
