/* Content Styles */

body {
  /* background-image: url(../img/markus-spiske-357131-unsplash.jpg); */
  background-repeat:no-repeat;
  background-size: cover;
}

#pageTitle {
  text-align: center;
  font-size: 4.5rem;
  color: #fff;
}

#bioBox {
  display: inline-flex;
  column-count: 3;
  margin-left: 5%;
}

#aboutMe {
  background-color: #fef200;
  border: 1px solid white;
  float: left;
  font-size: x-large;
  width: 33%;
  height: 95%;   /* fixes background-color box being too long */
}

#personalPhoto {
  max-height: 900px;
  max-width: 1000px;
  border-radius: 50%;
  width: 33%;
  overflow: hidden;
  display: block;
  margin-left: 135px;
}

/* JAVASCRIPT CLOCK */

.clockdate-wrapper {
    background-color: #231f20;
    border:1px solid #fff;
    max-width:85%;
    margin-bottom: 10px;
    margin-right: 35px;
    text-align:center;
}

#clock{
    background-color:#fef200;
    font-family: sans-serif;
    font-size:30px;
    color:#231f20;
}

#date {
    letter-spacing:2px;
    font-size:15px;
    font-family:arial,sans-serif;
    color:#fef200;
}

 /* HAMBURGER MENU STYLE https://www.youtube.com/watch?v=JoU-Tv6jIUI */

.hamburgerMenu{
  height: 75px;
  width: 75px;
  position: relative;
  border: 1px solid #fff;
  background-color: #231f20;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.hamburgerIcon{
  height: 10px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fef200;
  transform: translate(-50%,-50%) rotate(0deg);
  
  
}

.hamburgerIcon::before, .hamburgerIcon::after{
  content:"";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
}
.hamburgerIcon::before{
  top: -20px;
  left: 15px;
  transform-origin: right;
}
.hamburgerIcon::after{
  bottom: -20px;
  right: 15px;
  transform-origin: right;
}

.open{
  transform: translate( -50%, -50%) rotate(135deg);
  
}
.open::before{
  top: 0;
  left: -29px;
  transform: translateX(100%) rotate(-90deg);
}
.open::after{
  bottom: 30px;
  right: -2px;
  transform: translateX(-100%) rotate(-90deg);
}

#nav button {
  font-size: 125%;
  background-color: #fef200; /* CC Yellow background */
  border: 1px solid white; /* CC White border */
  color: #231f20; /* CC Black text */
  padding: 5px 105px 15px 15px;
  margin-bottom: 7%;
  cursor: pointer; /* Pointer/hand icon */
  width: 33%;
  display: block; /* Make the buttons appear below each other */
  border-radius: 15%;
}

#nav button:hover, button:focus {
    color: #fef200; /** Columbus Crew Yellow **/
    background-color: #231f20; /** Columbus Crew Black **/
}

#socialMedia{
  margin-top: 150px;
  padding: 0;
}

#soicalMedia ul {
    margin: 0;
    padding: 0;
}

#socialMedia li {
  float: left;
  margin-left: 75px;
  list-style: none;
}

#linkedIn{
  margin-top: 130px;
}

#gitHub{
  margin-top: 95px;
}

#email{
  margin-top: 85px;
}

#twitter{
  margin-top: 75px;
}





  /* =====================
      Media Queries
   =====================*/
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
  }

  /* Smaall Screens to 768px ----------- */
  @media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    /* Styles */
  }

  /* Desktop to 1024 ----------- */
  /* @media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
