/* Content Styles */

body {
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #6c6063;
  background-blend-mode: overlay;
}

#pageTitle {
  text-align: center;
  font-size: 4.5rem;
  text-shadow: 10px, 10px,#231f20;
  color: #fff;
}

#bioBox {
  display: inline-flex;
  column-count: 3;
  margin-left: 5%;
}

#aboutMe {
  background-color: #fef200;
  border: 1px solid white;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  font-size: x-large;
  width: 33%;
  height: 95%;   /* fixes background-color box being too long */
}

#personalPhoto {
  max-height: 900px;
  max-width: 1000px;
  border-radius: 50%;
  width: 33%;
  overflow: hidden;
  display: block;
  margin-left: 135px;
}

/* JAVASCRIPT CLOCK */

.clockdate-wrapper {
    background-color: #231f20;
    border:1px solid #fff;
    max-width:85%;
    margin-bottom: 10px;
    margin-right: 35px;
    text-align:center;
}

#clock{
    background-color:#fef200;
    font-family: sans-serif;
    font-size: 25px;
    color:#231f20;
}

#date {
    letter-spacing:2px;
    font-size:15px;
    font-family:arial,sans-serif;
    color:#fef200;
}

 

#nav button {
  font-size: 125%;
  background-color: #fef200; /* CC Yellow background */
  border: 1px solid white; /* CC White border */
  color: #231f20; /* CC Black text */
  padding: 5px 105px 15px 15px;
  margin-bottom: 7%;
  cursor: pointer; /* Pointer/hand icon */
  width: 33%;
  display: block; /* Make the buttons appear below each other */
  border-radius: 15%;
}

#nav button:hover, button:focus {
    color: #fef200; /** Columbus Crew Yellow **/
    background-color: #231f20; /** Columbus Crew Black **/
}

/* MODAL CONTENT STYLING FOR "MY RESUME" BUTTON */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin: 12.5vh;
  height: 75vh; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: #231f20; /* Fallback color */
  opacity: 1.3;
}

.modal-content {
  background-color: #fef200;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  overflow-y: initial !important;
  border: 1px solid #fff;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content p {
  font-weight: bold;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


#companyName{
  font-size: 20px;
  font-weight: bold;
}

.table{
  display: flex;
  flex-direction: row;
}

.table ul{
  list-style: none;
}

/* MODAL CONTENT STYLING FOR "MY SKILLS" BUTTON */

.modal-content-2 {
  background-color: #fef200;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  overflow-y: initial !important;
  border: 1px solid #fff;
  width: 80%; /* Could be more or less, depending on screen size */
}


.close-2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.table-2{
  display: flex;
  flex-direction: row;
}

.table-2 ul{
  list-style: none;
}

#skills{
  font-size: 20px;
  font-weight: bold;
}

#vendors{
  font-size: 20px;
  font-weight: bold;
}

/* Social Media Links Styling*/

footer{
  padding-top: 75px;
 
}

.table-3{
  display: flex;
  flex-direction: row;
}

.socialMedia{
  margin-left: 150px;
}

.fa-github-square{
  margin-left:75px;
  font-size: .25rem;
  background-color: #fff;
  color: #231f20;
}

.fa-github-square:hover, .fa-github-square:focus {
  color: #fef200; /** Columbus Crew Yellow **/
  background-color: #231f20; /** Columbus Crew Black **/
}

.fa-twitter{
  margin-left: 40px;
  font-size: .25rem;
  background-color: #fff;
  color: #231f20;
}
.fa-twitter:hover, .fa-twitter:focus {
  color: #fef200; /** Columbus Crew Yellow **/
  background-color: #231f20; /** Columbus Crew Black **/
}

.fa-envelope{
  margin-left: 40px;
  font-size: .25rem;
  background: #fff;
  color: #231f20;
}

.fa-envelope:hover, .fa-envelope:focus {
  color: #fef200; /** Columbus Crew Yellow **/
  background-color: #231f20; /** Columbus Crew Black **/
}

.fa-linkedin-in{
  margin-left: 40px;
  font-size: .15rem;
  background-color: #fff;
  color: #231f20;
}

.fa-linkedin-in:hover, .fa-linkedin-in:focus {
  color: #fef200; /** Columbus Crew Yellow **/
  background-color: #231f20; /** Columbus Crew Black **/
}



  /* =====================
      Media Queries
   =====================*/
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 360px) and (max-device-width : 480px){
  
    /* Styles */

    html{
      height: 100%;
      width: 100%;
    }

    body{
      background-position: center;
    }

    #pageTitle {
      font-size: 1.5rem;
    }

    #bioBox{
      /* position: relative; */
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    #personalPhoto{
      margin-left: 75px;
      width: 50%;
    }

    #aboutMe {
      clear: left;
      font-size: smaller;
      margin-left: 15px;
      width: 85%;
      height: auto;   /*fixes background-color box being too long */
      /* position: absolute;
      bottom: 0px; */
    }

    #nav{
      margin-right : 15px;
    }

    #nav button {
      float: right;
      display: table-header-group;
      font-size: 85%;
      font-weight: bold;
      padding: 5px 80px 8px 8px;
    }

    #clockdate{
      margin-left: 15px;
    }

    #clock{
      font-size: 20px;
    }
  
    #date {
        font-size:18px;
    }

    .modal{
      margin: 1vh;
      height: 96vh;
    }

    .modal-content{
      margin-top: 2%;
      margin-left: 15px;
      padding: 1px;
    }

    .table{
      visibility: hidden;
    }

    .modal-content-2{
      margin-top: 2%;
      margin-left: 15px;
      padding: 1px;
    }

    .table-2{
      display: block;
    }


    footer{
      padding-top: 15px;
      font-size: .35rem;
    }

    .fab{
      margin-left: 15px;
    }

    .fa-envelope{
      margin-left: 15px;
    }

  }

  /* Small Screens like Ipad and Kindle Fire ----------- */
  @media only screen and (min-device-width: 480px) and (max-device-width : 801px) {

    /* Styles */
    
    #pageTitle {
      font-size: 1.5rem;
    }

    #aboutMe {
      float: left;
      font-size: medium;
      width: 65%;
      height: 85%;   /* fixes background-color box being too long */
      margin-bottom: -35px;
    }
    
    #personalPhoto {
      border-radius: 50%;
      width: 65%;
      margin-left: 45px;
    }

    #nav button {
      font-size: 85%;
      font-weight: bold;
      padding: 5px 80px 8px 8px;
    }

    #clock{
      font-size: 10px;
  }
  
  #date {
      font-size:8px;
  }

  footer{
    padding-top: 35px;
    margin-left:35px;
    font-size: .5rem;
   
  }
}

  /* Desktop to 1024 ----------- */
  /* @media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
